.container {

  .image-box {
    display: inline-flex;
    position: relative;

    .banner {
      width: 100%;
      height: 400px;
      object-fit: cover;
      position: relative;
    }

    .centered {
      width: 100%;
      text-align: center;
      font-size: x-large;
      font-weight: bold;
      background-color: rgba(0, 0, 0, 0.7);
      color: white;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);

      .title {
        padding: 10px;
      }

      .subtitle {
        font-size: medium;
      }
    }
  }

  .gray {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .text-tile {
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    padding-right: 20px;

    .text-box {
      padding-top: 20px;
      padding-bottom: 20px;
      padding-right: 5px;

      .title {
        padding-bottom: 15px;
        font-weight: bold;
        font-size: x-large;
        color: #1E7FA5;
      }

      .content {
        font-size: medium;
        color: #888;
        padding-bottom: 15px;
      }
    }
  }

  .icon-tile {
    padding-top: 20px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    .icon-box {
      padding: 10px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      .icon {
        .mat-icon {
          width: auto;
          font-size: 60px;
          color: #1E7FA5;
        }
      }
      .desc {
        font-weight: bold;
      }
    }
  }

  .two-column {
    padding-top: 10px;
    .list-box {
      .title {
        font-weight: bold;
        font-size: x-large;
        color: #1E7FA5;
      }

      .content {
        font-size: medium;
        color: #888;
      }
    }
  }
}
