<div class="container">
  <mat-grid-list cols="5" rowHeight="50px">
    <mat-grid-tile colspan="5" rowspan="7">
      <img src="assets/images/main_banner_0.jpg" alt="Main" class="banner"/>
      <div class="centered">
        Visualization Lab<br>
        <span class="subtitle">
          Information Visualization and Human-Computer Interaction
        </span>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="6" class="text-tile">
      <div class="text-box">
        <div class="title">
          About Us
        </div>
        <div class="content">
          VIS lab at Soongsil University is a human-computer interaction lab that aims to improve
          visual analytics with novel visualization and interaction techniques. <br>
          We embrace machine learning approaches in designing and developing visualization systems. <br>
          We are actively collaborating with a number of research groups to find remedies for practical problems.
        </div>
      </div>
    </mat-grid-tile>

    <mat-grid-tile rowspan="3" class="icon-tile">
      <div class="icon-box">
        <div class="icon">
          <mat-icon>pie_chart</mat-icon>
        </div>
        <div class="desc">
          Information<br>
          Visualization
        </div>
      </div>
    </mat-grid-tile>

    <mat-grid-tile rowspan="3" class="icon-tile gray">
      <div class="icon-box">
        <div class="icon">
          <mat-icon>touch_app</mat-icon>
        </div>
        <div class="desc">
          User<br>
          Interaction
        </div>
      </div>
    </mat-grid-tile>

    <mat-grid-tile rowspan="3" class="icon-tile gray">
      <div class="icon-box">
        <div class="icon">
          <mat-icon>psychology</mat-icon>
        </div>
        <div class="desc">
          Machine<br>
          Learning
        </div>
      </div>
    </mat-grid-tile>

    <mat-grid-tile rowspan="3" class="icon-tile">
      <div class="icon-box">
        <div class="icon">
          <mat-icon>insights</mat-icon>
        </div>
        <div class="desc">
          Visual<br>
          Analytics
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
