// .container {

//   .image-box {
//     display: flex;
//     position:relative;

//     .banner {
//       width: 100%;
//       height: 400px;
//       object-fit: cover;
//       position: relative;
//     }

//     .centered {
//       width: 100%;
//       text-align: center;
//       font-size: x-large;
//       font-weight: bold;
//       background-color: rgba(0, 0, 0, 0.7);
//       color: white;
//       position: absolute;
//       top: 50%;
//       left: 0;
//       transform: translate(0, -50%);

//       .title {
//         padding: 10px;
//       }

//       .subtitle {
//         font-size: medium;
//       }
//     }
//   }

//   .gray {
//     background-color: rgba(0, 0, 0, 0.1);
//   }

//   .text-tile {
//     border-bottom: solid 1px rgba(0, 0, 0, 0.1);
//     padding-right: 20px;

//     .text-box {
//       padding-top: 20px;
//       padding-bottom: 20px;
//       padding-right: 5px;

//       .title {
//         padding-bottom: 15px;
//         font-weight: bold;
//         font-size: x-large;
//         color: #1E7FA5;
//       }

//       .content {
//         font-size: medium;
//         color: #888;
//         padding-bottom: 15px;
//       }
//     }
//   }

//   .icon-tile {
//     padding-top: 20px;
//     border-bottom: solid 1px rgba(0, 0, 0, 0.1);
//     .icon-box {
//       padding: 10px;
//       text-align: center;
//       display: flex;
//       flex-direction: column;
//       justify-content: center;
//       align-content: center;
//       .icon {
//         .mat-icon {
//           width: auto;
//           font-size: 60px;
//           color: #1E7FA5;
//         }
//       }
//       .desc {
//         font-weight: bold;
//       }
//     }
//   }

//   .two-column {
//     padding-top: 10px;
//     .list-box {
//       .title {
//         font-weight: bold;
//         font-size: x-large;
//         color: #1E7FA5;
//       }

//       .content {
        
//         font-size: medium;
//         color: #888;
//       }
//     }
//   }
// }

.empty-space {
  height: 8vw;
}

.layer {
  top:0;
  left:0;
  width:100%;
  text-align:center;
}

.layer .layer-inner {
  padding: 0;
  margin: 0;
  display:inline-block;
  vertical-align:middle;

  width: 94vw;
  max-width: 1160px;
}

.layer .blank {
  display:inline-block;
  width:0;
  height:100%;
  vertical-align:middle;
}

.bg-white-smoke {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: white;
}

/* home-introduction */
.introduction .title {
  text-align: left;
  font-weight: bold;
  margin-bottom: 1vw;
}

.introduction .detailed-introduction p {
  padding: 2vw 0 ;
  text-align: center;
  font-size : normal;
}

.introduction .research-field-collection {
  list-style: none;

  display: flex;
  flex-direction: row;

  padding: 0;
}

.introduction .research-field-collection .research-field-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border: 1px solid gray;
  background-color: white;
/*  background-color: lightgray;*/
  width: calc(97% / 4);
  height: 20vw;

  padding: 2vw;
}

.introduction .research-field-collection .empty-space-between-item {
  width: 1%;
}
/* home-introduction end*/


/* home-publication */
.research-and-publication .title {
  text-align: left;
  font-weight: bold;
  margin-bottom: 1.2vw;
}

.research-and-publication .empty-space {
  width: 100%;
  height: 8vw;
}

.research-and-publication .example-collection {

  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
}

.research-and-publication .example-collection  .example-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border: 1px solid gray;
 /* background-color: lightgray;*/
 // width: calc(97% / 4);
  width : 300px;
  height: 20vw;
  margin-right: auto;
}

.research-and-publication .example-collection  .example-item .title{

  color: black;
  font-weight: bold;
  font-size : larger;

  padding: 1vw 2vw 2vw 2vw;
}

.research-and-publication .example-collection  .example-item .title:hover{
  text-decoration: underline;
}

.research-and-publication .example-collection  .example-item .item-img {
  // width : cover;
  height : 60%;
  object-fit: cover;
}

.research-and-publication .example-collection .indicator-item {
  background-color: #8fb1bd;
  width: calc(97% / 4);
  // height: 20vw;
  padding: 2vw;

  .title{
    font-size : larger;
    color : black;
  }
}

.research-and-publication .example-collection .indicator-item:hover .title {
  text-decoration: underline;
  color: white;
}

.research-and-publication .example-collection  .empty-space-between-item {
  width: 1%;
}
/* home-publication end*/


/* home-new-notice */
.empty-space {
  height: 8vw;
}

.news-and-notice .title {
  text-align: left;
  font-weight: bold;
  margin-bottom: 1.2vw;
}

.news-and-notice table {
  width: 100%;

  background-color: white;
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
  border: 1px solid #ccc;
}

.news-and-notice table th {
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  background-color: #00729A;
}

.news-and-notice table td {
  padding: 10px;
  vertical-align: top;
}

.news-and-notice table td:hover a{
  text-decoration: underline;
}

/* home-new-notice end*/