<!-- <div class="container">
  <div fxLayout="row" fxLayout.xs="column">
    <div fxLayout="column">
      <div>
        <div fxFlex="100%">
          <div class="image-box">
            <img src="assets/images/main_banner_0.jpg" alt="Main" class="banner"/>
            <div class="centered">
              <div class="title">
                Visualization Lab<br>
                <span class="subtitle">Information Visualization and Human-Computer Interaction </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayout.xs="column">
        <div fxFlex="60%" fxFlex.xs="100%" class="text-tile" fxFill>
          <div class="text-box">
            <div class="title">
              About Us
            </div>
            <div class="content">
              VIS lab at Soongsil University is a human-computer interaction lab that aims to improve
              visual analytics with novel visualization and interaction techniques.
              We embrace machine learning approaches in designing and developing visualization systems for data
              analysis.
              We are actively collaborating with a number of research groups to find remedies for practical problems.
              <br><br>
              VIS lab은 human-computer interaction 분야를 연구하며, 
              새로운 시각화와 상호작용 기법에 대한 연구를 통해 시각적 분석 과정 전반을 개선해 나가는 것을 목표로 합니다.
              본 연구실에서는 데이터 분석을 위한 시각화 시스템의 디자인과 개발을 위해 기계 학습 분야의 연구들을 적극적으로 활용하고 있습니다.
              현재 다양한 연구 기관들과 협업하여 연구를 진행하고 있으며, 실생활과 밀접한 문제들의 해결을 위해 노력합니다.
            </div>
          </div>
        </div>

        <div fxFlex="40%" fxFlex.xs="100%" class="icon-tile">
          <div gdColumn="col 2" gdColumns="1fr 1fr" gdRow="row 2" fxFlexFill>
            <div OnClick="window.open('https://en.wikipedia.org/wiki/Information_visualization')" style="cursor:pointer;" class="icon-box" gdColumn="1" gdRow="1">
              <div class="icon">
                <mat-icon>pie_chart</mat-icon>
              </div>
              <div class="desc">
                Information<br>
                Visualization
              </div>
            </div>
            <div OnClick="window.open('https://ko.wikipedia.org/wiki/%EC%82%AC%EC%9A%A9%EC%9E%90_%EC%9D%B8%ED%84%B0%ED%8E%98%EC%9D%B4%EC%8A%A4')" style="cursor:pointer;" class="icon-box gray" gdColumn="2" gdRow="1">
              <div class="icon">
                <mat-icon>touch_app</mat-icon>
              </div>
              <div class="desc">
                User<br>
                Interaction
              </div>
            </div>
            <div OnClick="window.open('https://ko.wikipedia.org/wiki/%EA%B8%B0%EA%B3%84_%ED%95%99%EC%8A%B5')" style="cursor:pointer;" class="icon-box gray" gdColumn="1" gdRow="2">
              <div class="icon">
                <mat-icon>psychology</mat-icon>
              </div>
              <div class="desc">
                Machine<br>
                Learning
              </div>
            </div>
            <div OnClick="window.open('https://en.wikipedia.org/wiki/Visual_analytics')" style="cursor:pointer;" class="icon-box" gdColumn="2" gdRow="2">
              <div class="icon">
                <mat-icon>insights</mat-icon>
              </div>
              <div class="desc">
                Visual<br>
                Analytics
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="two-column" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" fxFlexFill>
    <div class="list-box" fxFlex="50%" fxFlex.xs="100%">
      <div class="title">
        Notice
      </div>
      <div class="content">
        <ul>
          <li>
            We are currently looking for motivated graduate students and undergraduate research interns. <br>
            연구에 관심이 있는 대학원생과 학부생 인턴을 모집 중입니다. 관심있는 학생 분들은 email로 문의하시기 바랍니다.
          </li>
        </ul>
      </div>
    </div>

    <div class="list-box" fxFlex="50%" fxFlex.xs="100%">
      <div class="title">
        News
      </div>
      <div class="content">
        <ul>
          <li>
            A full paper titled
            "Detecting and Recovering Integer Data Manipulated by Multiplication with a Nonintegral Real Number and a
            Rounding Operation"
            is accepted for publication in IEEE Access.
          </li>

          <li>
            A full paper titled
            "Can Patient Triaging via Clinical Scoring Systems Reduce CT Use in Adolescents and Young Adults Suspected
            of Having Appendicitis?"
            is accepted for publication in Radiology.
          </li>
        </ul>
      </div>
    </div>
  </div>

</div> -->

<div class="layer bg-white-smoke">
  <!-- <div class="banner"></div> -->
  <app-banner></app-banner>
  <div class="empty-space"></div>

  <!--home-introduction-->
  <div class="bg-white-smoke">
    <div class="layer-inner">
      <article class="introduction">
        <h1 class="title">Introduction</h1>
      
        <section class="detailed-introduction">
          <p>
            VIS lab at Soongsil University is a human-computer interaction lab that aims to improve
            visual analytics with novel visualization and interaction techniques.<br>
            We embrace machine learning approaches in designing and developing visualization systems for data
            analysis.<br>
            We are actively collaborating with a number of research groups to find remedies for practical problems.
          </p>
        </section>
      
        <section class="research-field">
          <ul class="research-field-collection">
            <li class="research-field-item">
              <h4 class="title">User<br> Interaction</h4>
              <button>read more</button>
            </li>
            <span class="empty-space-between-item"></span>
            <li class="research-field-item">
              <h4 class="title">Machine<br> Learning</h4>
              <button>read more</button>
            </li>
            <span class="empty-space-between-item"></span>
            <li class="research-field-item">
              <h4 class="title">Visual<br> Analysis</h4>
              <button>read more</button>
            </li>
            <span class="empty-space-between-item"></span>
            <li class="research-field-item">
              <h4 class="title">Information<br> Visualization</h4>
              <button>read more</button>
            </li>
          </ul>
        </section>
      </article>
      <!--home-introduction end-->
      <div class="empty-space"></div>

      <!-- home-publication -->
      <article class="research-and-publication">
        <section class="research">
          <h1 class="title">Research</h1>
          <ul class="example-collection">
            <li class="example-item">
              <img class="item-img">
              <a><h6 class="title">User<br> Interaction</h6></a>
            </li>
            <span class="empty-space-between-item"></span>
            <li class="example-item">
              <img class="item-img">
              <a><h6 class="title">User<br> Interaction</h6></a>
            </li>
            <span class="empty-space-between-item"></span>
            <li class="example-item">
              <img class="item-img">
              <a><h6 class="title">User<br> Interaction</h6></a>
            </li>
            <span class="empty-space-between-item"></span>
            <li class="indicator-item">
              <h4 class="title">View<br> All<br> Research</h4>
            </li>
          </ul>
        </section>
      
        <div class="empty-space"></div>
      
        <section class="publication">
          <h1 class="title">Publication</h1>
          <ul class="example-collection">
            <li class="example-item">
              <img class="item-img">
              <a><h6 class="title">User<br> Interaction</h6></a>
            </li>
            <span class="empty-space-between-item"></span>
            <li class="example-item">
              <img class="item-img">
              <a><h6 class="title">User<br> Interaction</h6></a>
            </li>
            <span class="empty-space-between-item"></span>
            <li class="example-item">
              <img class="item-img">
              <a><h6 class="title">User<br> Interaction</h6></a>
            </li>
            <span class="empty-space-between-item"></span>
            <li class="indicator-item">
              <h4 class="title">View<br> All<br> Publication</h4>
            </li>
          </ul>
        </section>
      </article>
      <!-- home-publication end-->
      <div class="empty-space"></div>
      <!-- home-new-notice -->
      <article class="news-and-notice">
        <article class="news">
          <h1 class="title">News</h1>
      
          <table class="news-table">
            <tr>
              <th>Title</th>
              <th>Status</th>
              <th>Date</th>
              <th>Views</th>
            </tr>
            <tr>
              <td><a>제작 중</a></td>
              <td>진행 중</td>
              <td>2021.05.03~</td>
              <td>3</td>
            </tr>
            <tr>
              <td><a>제작 중</a></td>
              <td>진행 중</td>
              <td>2021.05.03~</td>
              <td>3</td>
            </tr>
            <tr>
              <td><a>제작 중</a></td>
              <td>진행 중</td>
              <td>2021.05.03~</td>
              <td>3</td>
            </tr>
            <tr>
              <td><a>제작 중</a></td>
              <td>진행 중</td>
              <td>2021.05.03~</td>
              <td>3</td>
            </tr>
          </table>
        </article>
      
        <div class="empty-space"></div>
      
        <article class="notice">
          <h1 class="title">Notice</h1>
      
          <table class="notice-table">
            <tr>
              <th>Title</th>
              <th>Status</th>
              <th>Date</th>
              <th>Views</th>
            </tr>
            <tr>
              <td><a>제작 중</a></td>
              <td>진행 중</td>
              <td>2021.05.03~</td>
              <td>3</td>
            </tr>
            <tr>
              <td><a>제작 중</a></td>
              <td>진행 중</td>
              <td>2021.05.03~</td>
              <td>3</td>
            </tr>
            <tr>
              <td><a>제작 중</a></td>
              <td>진행 중</td>
              <td>2021.05.03~</td>
              <td>3</td>
            </tr>
            <tr>
              <td><a>제작 중</a></td>
              <td>진행 중</td>
              <td>2021.05.03~</td>
              <td>3</td>
            </tr>
          </table>
        </article>
      </article>
      <!-- home-new-notice end-->
      
      <div class="empty-space"></div>
    </div>
    <span class="blank"></span>
  </div>
</div>

<!-- <app-chart></app-chart> -->




