<div class="container">
  <div class="year">
    <div class="header">
      <div class="label">
        2021
      </div>
    </div>
    <div class="content">
      <div class="section">
        <div class="label">
          INTERNATIONAL
        </div>
        <div class="publication">
          <div class="main-title">
            Detecting and Recovering Integer Data Manipulated by Multiplication with a Nonintegral Real Number and a Rounding Operation
          </div>
          <div class="type">
            Journal Article
          </div>
          <div class="authors">
            Taejung Park, <span class="member">Hyunjoo Song</span>, and Sang June Lee,
          </div>
          <div class="title">
            Detecting and Recovering Integer Data Manipulated by Multiplication with a Nonintegral Real Number and a Rounding Operation,
          </div>
          <div class="info">
            IEEE Access, 2021, accepted for publication
          </div>
          <div class="extra">
          </div>
        </div>
        <div class="publication">
          <div class="main-title">
            Can Patient Triaging via Clinical Scoring Systems Reduce CT Use in Adolescents and Young Adults Suspected of Having Appendicitis?
          </div>
          <div class="type">
            Journal Article
          </div>
          <div class="authors">
            <span class="member">Hyunjoo Song</span>, Seungjae Lee, Ji Hoon Park, Hae Young Kim, Hooney Daniel Min, Jong-June Jeon, and Kyoung Ho Lee,
          </div>
          <div class="title">
            Can Patient Triaging via Clinical Scoring Systems Reduce CT Use in Adolescents and Young Adults Suspected of Having Appendicitis?,
          </div>
          <div class="info">
            Radiology, 2021, accepted for publication
          </div>
          <div class="extra">
          </div>
        </div>
        <div class="publication">
          <div class="main-title">
            Githru: Visual Analytics for Understanding Software Development History Through Git Metadata Analysis
          </div>
          <div class="type">
            Journal Article
          </div>
          <div class="authors">
            Youngtaek Kim, Jaeyoung Kim, Hyeon Jeon, Young-Ho Kim, <span class="member">Hyunjoo Song</span>, Bohyoung Kim, and Jinwook Seo,
          </div>
          <div class="title">
            Githru: Visual Analytics for Understanding Software Development History Through Git Metadata Analysis,
          </div>
          <div class="info">
            IEEE Transactions on Visualization and Computer Graphics, 27(2): 656-666, 2021.
          </div>
          <div class="extra">
            Also presented at IEEE VIS (VAST) 2020, October 25-30 in Salt Lake City, Utah, USA.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="year">
    <div class="header">
      <div class="label">
        2020
      </div>
    </div>
    <div class="content">
      <div class="section">
        <div class="label">
          DOMESTIC
        </div>
        <div class="publication">
          <div class="main-title">
            탐색적 데이터 분석과정의 복기 및 재사용을 위한 사용자 인터랙션 프로비넌스 시각화
          </div>
          <div class="type">
            Scientific Poster
          </div>
          <div class="authors">
            Young-taek Kim, Yieun Kim, <span class="member">Hyunjoo Song</span>, and Jinwook Seo,
          </div>
          <div class="title">
            탐색적 데이터 분석과정의 복기 및 재사용을 위한 사용자 인터랙션 프로비넌스 시각화
          </div>
          <div class="info">
            In Proceedings of the 2020 한국컴퓨터종합학술대회(KCC)
          </div>
          <div class="extra">
          </div>
        </div>
        <div class="publication">
          <div class="main-title">
            공공자전거 주행경로 선택모형 분석을 위한 시각화 및 상호작용 설계
          </div>
          <div class="type">
            Scientific Poster
          </div>
          <div class="authors">
            DongHwa Shin, Jaemin Jo, Bohyoung Kim, <span class="member">Hyunjoo Song</span>, and Jinwook Seo,
          </div>
          <div class="title">
            공공자전거 주행경로 선택모형 분석을 위한 시각화 및 상호작용 설계,
          </div>
          <div class="info">
            In Proceedings of the 2020 한국컴퓨터종합학술대회(KCC)
          </div>
          <div class="extra">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="year">
    <div class="header">
      <div class="label">
        2018
      </div>
    </div>
    <div class="content">
      <div class="section">
        <div class="label">
          INTERNATIONAL
        </div>
        <div class="publication">
          <div class="main-title">
            CNN-Based drug recognition and braille embosser system for the blind
          </div>
          <div class="type">
            Journal Article
          </div>
          <div class="authors">
            Soyeong Lee, Sunhae Jung, and <span class="member">Hyunjoo Song</span>,
          </div>
          <div class="title">
            CNN-Based drug recognition and braille embosser system for the blind,
          </div>
          <div class="info">
            Journal of Computing Science and Engineering, 12(4): 149-156, 2018.
          </div>
          <div class="extra">
          </div>
        </div>
      </div>

      <div class="section">
        <div class="label">
          DOMESTIC
        </div>
        <div class="publication">
          <div class="main-title">
            의료 학술 문헌의 효과적 근거 매핑을 위한 대화형 시각화 도구
          </div>
          <div class="type">
            Journal Article
          </div>
          <div class="authors">
            Brian J. Lee, Seunghoon You, Yieun Kim, <span class="member">Hyunjoo Song</span>, Jong-Chan Lee, Jin-Hyeok Hwang, and Jinwook Seo,
          </div>
          <div class="title">
            의료 학술 문헌의 효과적 근거 매핑을 위한 대화형 시각화 도구,
          </div>
          <div class="info">
            KIISE Transactions on Computing Practices, 24(12):662-669, 2018.
          </div>
          <div class="extra">
          </div>
        </div>

        <div class="publication">
          <div class="main-title">
            행렬 기반의 시각화를 위한 조밀한 배치 기법
          </div>
          <div class="type">
            Journal Article
          </div>
          <div class="authors">
            DongHwa Shin, and <span class="member">Hyunjoo Song</span>,
          </div>
          <div class="title">
            행렬 기반의 시각화를 위한 조밀한 배치 기법,
          </div>
          <div class="info">
            디지털콘텐츠학회논문지, 19(10): 1967-1973, 2018.
          </div>
          <div class="extra">
          </div>
        </div>

        <div class="publication">
          <div class="main-title">
            산점도 진단분석과 분할 변수 선택 기법을 활용한 점진적인 시각적 분석
          </div>
          <div class="type">
            Journal Article
          </div>
          <div class="authors">
            DongHwa Shin, Sehi L'Yi, <span class="member">Hyunjoo Song</span>, and Jinwook Seo,
          </div>
          <div class="title">
            산점도 진단분석과 분할 변수 선택 기법을 활용한 점진적인 시각적 분석,
          </div>
          <div class="info">
            Journal of KIISE, 45(8):801-806, 2018.
          </div>
          <div class="extra">
          </div>
        </div>

        <div class="publication">
          <div class="main-title">
            VR 및 AR 환경에서의 시공간 데이터 시각화를 위한 동향 분석
          </div>
          <div class="type">
            Journal Article
          </div>
          <div class="authors">
            <span class="member">Hyunjoo Song</span>,
          </div>
          <div class="title">
            VR 및 AR 환경에서의 시공간 데이터 시각화를 위한 동향 분석,
          </div>
          <div class="info">
            방송공학회논문지, 23(1): 36-45, 2018.
          </div>
          <div class="extra">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="year">
    <div class="header">
      <div class="label">
        2017
      </div>
    </div>
    <div class="content">
      <div class="section">
        <div class="label">
          INTERNATIONAL
        </div>
        <div class="publication">
          <div class="main-title">
            ChartSense: Interactive Data Extraction from Chart Images
          </div>
          <div class="type">
            Conference Full Paper
          </div>
          <div class="authors">
            Daekyoung Jung, Wonjae Kim, <span class="member">Hyunjoo Song</span>, Jeong-in Hwang, Bongshin Lee, Bohyoung Kim, and Jinwook Seo,
          </div>
          <div class="title">
            ChartSense: Interactive Data Extraction from Chart Images,
          </div>
          <div class="info">
            In Proceedings of the SIGCHI Conference on Human Factors in Computing Systems (CHI '17), pp. 6706-6717, 2017.
          </div>
          <div class="extra">
          </div>
        </div>
        <div class="publication">
          <div class="main-title">
            GazeDx: Interactive Visual Analytics Framework for Comparative Gaze Analysis with Volumetric Medical Images
          </div>
          <div class="type">
            Journal Article
          </div>
          <div class="authors">
            <span class="member">Hyunjoo Song</span>, Jeongjin Lee, Tae Jung Kim, Kyoung Ho Lee, Bohyoung Kim, and Jinwook Seo,
          </div>
          <div class="title">
            GazeDx: Interactive Visual Analytics Framework for Comparative Gaze Analysis with Volumetric Medical Images,
          </div>
          <div class="info">
            IEEE Transactions on Visualization and Computer Graphics, 23(1):311-320, 2017.
          </div>
          <div class="extra">
            Also presented at IEEE VIS (VAST) 2016, October 23-28 in Baltimore, Maryland, USA.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="year">
    <div class="header">
      <div class="label">
        2016
      </div>
    </div>
    <div class="content">
      <div class="section">
        <div class="label">
          INTERNATIONAL
        </div>
        <div class="publication">
          <div class="main-title">
            Peek-a-View: Smartphone Cover Interaction for Multi-tasking
          </div>
          <div class="type">
            Conference Full Paper
          </div>
          <div class="authors">
            Koeun Choi, <span class="member">Hyunjoo Song</span>, Kyle Koh, Jinwook Bok, and Jinwook Seo,
          </div>
          <div class="title">
            Peek-a-View: Smartphone Cover Interaction for Multi-tasking,
          </div>
          <div class="info">
            In Proceedings of the SIGCHI Conference on Human Factors in Computing Systems (CHI '16), pp. 4658-4662, 2016.
          </div>
          <div class="extra">
          </div>
        </div>
      </div>
      <div class="section">
        <div class="label">
          DOMESTIC
        </div>
        <div class="publication">
          <div class="main-title">
            합동적 Cognostics 프레임워크를 이용한 다차원 데이터의 시각적 분석
          </div>
          <div class="type">
            Scientific Poster
          </div>
          <div class="authors">
            DongHwa Shin, Sehi L'Yi, <span class="member">Hyunjoo Song</span>, and Jinwook Seo,
          </div>
          <div class="title">
            합동적 Cognostics 프레임워크를 이용한 다차원 데이터의 시각적 분석,
          </div>
          <div class="info">
            In Proceedings of the 한국정보과학회 2016년 동계학술대회, pp. 1120-1122.
          </div>
          <div class="extra">
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!--
  <div class="publication">
    <div class="main-title">
    </div>
    <div class="type">
    </div>
    <div class="authors">
    </div>
    <div class="title">
    </div>
    <div class="info">
    </div>
    <div class="extra">
    </div>
  </div>

  -->

