
<div class="common-padding">
    <div class="title">Publication</div>
    <div class="particular-padding"></div>
    <div class="publication-collection">
      <div class="publication-item text-box">
        <div class="title">a</div>
      </div>
      <div class="publication-item text-box">
        <div class="title">b</div>
      </div>
      <div class="publication-item text-box">
        <div class="title">overlay 이런 식으로 하기! 마우스 올려봐!</div>
        <div class="middle">
          <div class="text">나중에 디자인 바꾼 다음에, 이 부분 table 형식으로 만들고, 이렇게 overlay하기!</div>
        </div>
      </div>
      <div class="publication-item text-box" style="background-color: #00729A" routerLink="/publication">
        <div class="title">View<br> All Publications</div>
      </div>
  
    </div>
  </div>