<div class="container">

    <!-- 2021 research -->
    <div class="section">

        <div class="header">
            <div class="label">
               2021
            </div>
        </div>

        <app-research-list></app-research-list>

    </div>
    <!-- 2021 research end!-->

    <!-- 2020 research -->
    <div class="section">

        <div class="header">
            <div class="label">
               2020
            </div>
        </div>

        <app-research-list></app-research-list>
        
    </div>

    <!-- 2020 research end!-->

    <!-- 2019 research -->
    <div class="section">

        <div class="header">
            <div class="label">
               2019
            </div>
        </div>

        <app-research-list></app-research-list>
        
    </div>
    <!-- 2019 research end!-->

    
</div>