<!-- <div class="container">

    <div *ngFor = "let y of researchYear">
        <app-research-list [receivedList]='y'></app-research-list> 
    </div>


</div> -->

<!-- <div class="layer bg-white-smoke">

    <div class="empty-space"></div>
  
    <div class="bg-white-smoke">
        <div *ngFor = "let y of researchYear">
            <app-research-list [receivedList]='y'></app-research-list> 
        </div>
    </div>
</div> -->
  
<div class="layer bg-white-smoke">
    <!-- <article class="banner"></article> -->
    <div class = "banner">
        <div class = "banner-title">RESEARCH</div>
    </div>
    <div class="empty-space"></div>
  
    <div class="bg-white-smoke">
        <div class="layer-inner">
            <article class="research-all">

                <div *ngFor = "let y of researchYear">
                    <app-research-list [receivedList]='y'></app-research-list> 
                </div>

            </article>
        </div>
    </div>
</div>
  