<mat-toolbar>
  <mat-toolbar-row>
    <div fxHide.gt-xs>
      <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div>
      <a routerLink="/home">
        <img class="logo" src="assets/images/logo_lab_compact.png" alt="Logo image"/>
      </a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="center" fxHide.xs>
      <ul fxLayout fxLayoutGap="80px" class="navigation-items">
        <li>
          <a routerLink="/home">Home</a>
        </li>
        <li>
          <a routerLink="/members">Members</a>
        </li>
        <li>
          <a routerLink="/research">Research</a>
        </li>
        <li>
          <a routerLink="/publications">Publications</a>
        </li>
        <li>
          <a routerLink="/courses">Courses</a>
        </li>
        <li>
          <a routerLink="/courses">News</a>
        </li>
        <li>
          <a routerLink="/courses">Notice</a>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<!-- 
<header>
  <section class="logo">
    <mark>VIS</mark><span class="light-word">Lab.</span>
  </section>

  <div class="empty-space"></div>

  <nav>
    <ul class="nav-collection">
      <li><a class="nav-item" routerLink="/home">Home</a></li>
      <li><a class="nav-item" routerLink="/members">Members</a></li>
      <li><a class="nav-item" routerLink="/research">Research</a></li>
      <li><a class="nav-item" routerLink="/publication">Publication</a></li>
      <li><a class="nav-item" routerLink="/courses">Courses</a></li>
      <li><a class="nav-item" routerLink="/news">News</a></li>
      <li><a class="nav-item" routerLink="/notice">Notice</a></li>
    </ul>
  </nav>
</header> -->