mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}
mat-sidenav-content::-webkit-scrollbar {
}
mat-sidenav {
  width: 150px;
}
mat-sidenav-content {
  background: white;
}
main {
  padding: 10px;
}

mat-toolbar-row {
  .logo {
    height: 35px;
    width: auto;
    padding-right: 10px;
  }

  .title {
    font-size: small;
    font-weight: normal;
    line-height: 20px;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .address {
    text-align: right;
    font-size: small;
    font-weight: normal;
    line-height: 20px;
  }
}
