<app-layout>
  <mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
      <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
      <main>
        <router-outlet></router-outlet>
      </main>
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <img src="assets/images/logo_ssu.png" alt="SSU" class="logo">
          <div class="title">
            School of Computer Science and Engineering<br>
            Soongsil University
          </div>
          <span class="spacer"></span>
          <div class="address">
            Soongsil University<br>
            50, Sadang-ro, Dongjak-gu, Seoul, (07027), Republic of Korea
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
    </mat-sidenav-content>
  </mat-sidenav-container>
</app-layout>
