
<div class="container">
  {{Members}}
  <div *ngFor="let m of Members">
     <app-members-list [ReceivedList]='m'></app-members-list>  
  </div>
 <!-- 
  
  <div class="section">
    <div class="header">
      <div class="label">
        {{m.degree}}
        <div class="sub">
          candidates
        </div>
      </div>
    </div>

    <div class="content" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0px">
      <div class="person" fxFlex="50" fxFlex.xs="100">
        <div class="image">
          <img src="assets/images/hsong.jpg" alt="hsong">
        </div>
        <div class="desc">
          <div class="name">
            Hyunjoo Song /
            Director
          </div>
          <div class="interest">
            Human-Computer Interaction, Interaction Design,
            Information Visualization, Visual Analytics, Machine Learning, Gaze Tracking
          </div>
          <div class="links">
            <a mat-icon-button href="mailto:hsong@ssu.ac.kr"><mat-icon>mail</mat-icon></a>
            <a mat-icon-button href="#"><mat-icon>home</mat-icon></a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="section">
    <div class="header">
      <div class="label">
        M.S.
        <div class="sub">
          candidates
        </div>
      </div>
    </div>

    <div class="content" fxLayout="row wrap" fxFlex="100" fxLayout.xs="column" fxLayoutGap="0px">
      <div class="person" fxFlex="50" fxFlex.xs="100">
        <div class="image">
          <img src="assets/images/recruit.png" alt="recruit">
        </div>
        <div class="desc">
          <div class="name">
            Currently Recruiting
          </div>
          <div class="interest">
            <span class="emp">Research field</span>: Machine Learning, Explainable Artificial Intelligence <br>
            <span class="emp">Prerequisites</span>: Python programming experience <br>
            <span class="emp">Preferred skills</span>: TensorFlow/Keras, PyTorch, MySQL, MongoDB, Linux
          </div>
          <div class="links">
          </div>
        </div>
      </div>

      <div class="person" fxFlex="50" fxFlex.xs="100">
        <div class="image">
          <img src="assets/images/recruit.png" alt="recruit">
        </div>
        <div class="desc">
          <div class="name">
            Currently Recruiting
          </div>
          <div class="interest">
            <span class="emp">Research field</span>: Information visualization, Visual Analytics <br>
            <span class="emp">Prerequisites</span>: JavaScript (TypeScript) programming experience <br>
            <span class="emp">Preferred skills</span>: Angular, React, Python (Pandas, Scikit-learn)
          </div>
          <div class="links">
          </div>
        </div>
      </div>


    </div>
  </div>

  <div class="section">
    <div class="header">
      <div class="label">
        Intern
        <div class="sub">
        </div>
      </div>
    </div>

    <div class="content" fxLayout="row wrap" fxFlex="100" fxLayout.xs="column" fxLayoutGap="0px">
      <div class="person" fxFlex="50" fxFlex.xs="100">
        <div class="image">
          <img src="assets/images/recruit.png" alt="recruit">
        </div>
        <div class="desc">
          <div class="name">
            Currently Recruiting
          </div>
          <div class="interest">
            <span class="emp">Research field</span>: Web application<br>
            <span class="emp">Prerequisites</span>: JavaScript (TypeScript) programming experience <br>
            <span class="emp">Preferred skills</span>: Angular, React, MongoDB, Linux
          </div>
          <div class="links">
          </div>
        </div>
      </div>

      <div class="person" fxFlex="50" fxFlex.xs="100">
        <div class="image">
          <img src="assets/images/recruit.png" alt="recruit">
        </div>
        <div class="desc">
          <div class="name">
            Currently Recruiting
          </div>
          <div class="interest">
            <span class="emp">Research field</span>: Information Visualization <br>
            <span class="emp">Prerequisites</span>: JavaScript (TypeScript) programming experience <br>
            <span class="emp">Preferred skills</span>: Angular, React, D3.js
          </div>
          <div class="links">
          </div>
        </div>
      </div>

      <div class="person" fxFlex="50" fxFlex.xs="100">
        <div class="image">
          <img src="assets/images/recruit.png" alt="recruit">
        </div>
        <div class="desc">
          <div class="name">
            Currently Recruiting
          </div>
          <div class="interest">
            <span class="emp">Research field</span>: Information Visualization <br>
            <span class="emp">Prerequisites</span>: JavaScript (TypeScript) programming experience <br>
            <span class="emp">Preferred skills</span>: Angular, React, D3.js
          </div>
          <div class="links">
          </div>
        </div>
      </div>

      <div class="person" fxFlex="50" fxFlex.xs="100">
        <div class="image">
          <img src="assets/images/recruit.png" alt="recruit">
        </div>
        <div class="desc">
          <div class="name">
            Currently Recruiting
          </div>
          <div class="interest">
            <span class="emp">Research field</span>: Information Visualization <br>
            <span class="emp">Prerequisites</span>: JavaScript (TypeScript) programming experience <br>
            <span class="emp">Preferred skills</span>: Angular, React, D3.js
          </div>
          <div class="links">
          </div>
        </div>
      </div>

      <div class="person" fxFlex="50" fxFlex.xs="100">
        <div class="image">
          <img src="assets/images/recruit.png" alt="recruit">
        </div>
        <div class="desc">
          <div class="name">
            Currently Recruiting
          </div>
          <div class="interest">
            <span class="emp">Research field</span>: Information Visualization <br>
            <span class="emp">Prerequisites</span>: JavaScript (TypeScript) programming experience <br>
            <span class="emp">Preferred skills</span>: Angular, React, D3.js
          </div>
          <div class="links">
          </div>
        </div>
      </div>

      <div class="person" fxFlex="50" fxFlex.xs="100">
        <div class="image">
          <img src="assets/images/recruit.png" alt="recruit">
        </div>
        <div class="desc">
          <div class="name">
            Currently Recruiting
          </div>
          <div class="interest">
            <span class="emp">Research field</span>: Information Visualization <br>
            <span class="emp">Prerequisites</span>: JavaScript (TypeScript) programming experience <br>
            <span class="emp">Preferred skills</span>: Angular, React, D3.js
          </div>
          <div class="links">
          </div>
        </div>
      </div>
      
    </div>
  </div>

  <div class="section">
    <div class="header">
      <div class="label">
        Alumni
        <div class="sub">
        </div>
      </div>
    </div>

    <div class="content" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0px">
      <div class="person" fxFlex="50" fxFlex.xs="100">
        <div class="image">
        </div>
        <div class="desc">
          <div class="name">
          </div>
          <div class="interest">
          </div>
          <div class="links">
          </div>
        </div>
      </div>
    </div>
  </div>

-->
</div>


