<div class="container">

  <!-- 한 덩어리 -->
  <div class="section">
    <div class="header">
      <div class="label">
        Prof!! new!!! woah!
      </div>
    </div>

    <app-sub></app-sub>  <!--table component. 배열로 구현되어있는거 갖다쓰기-->
    
  </div>
  <!-- 한 덩어리 끝! -->

  <div class="section">
    <div class="header">
      <div class="label">
        Ph.D.
        <div class="sub">
          candidates
        </div>
      </div>
    </div>
 
    <app-sub></app-sub>
    
  </div>



  <div class="section">
    <div class="header">
      <div class="label">
        M.S.
        <div class="sub">
          candidates
        </div>
      </div>
    </div>

    <app-sub></app-sub>

  </div>



  <div class="section">
    <div class="header">
      <div class="label">
        Intern
        <div class="sub">
          sub
        </div>
      </div>
      
    </div>

    <app-sub></app-sub>

  </div>



  <div class="section">
    <div class="header">
      <div class="label">
        Alumni
        <div class="sub">
          sub
        </div>
      </div>
      
    </div>

    <app-sub></app-sub>

  </div>


  

</div>
