.research-collection-collection,
.research-collection-specified-year,
.research-collection {
  margin: 0;
  padding: 0;
  list-style: none;
}

.research-collection-specified-year {
  margin-bottom: 8vw;
}

.specified-year {
  font-weight: bold;
  text-align: left;
  margin-bottom: 1.5vw;
}

.research-collection {
  display : flex;
  // flex-grow: 0;
  // flex-shrink: 0;
  flex-direction : row;
  // white-space: nowrap;
  flex-wrap: wrap;
  // overflow-x: auto;
  // overflow-y: scroll;
 
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;

  .empty-space-between-item {
    width: 1vw;
    height: 100%;
  }

}

.research-item {
  display: inline-block;
  //width: calc((1000px - 2vw) / 3);
  width : calc((1050px - 2vw) / 3);
  height: 430px;
  background-color: white;
  border: 1px solid lightgray;
  margin-right: 1vw;
  margin-bottom: 2vw;

  .detailed-research-info {
    display: none;
    width: calc((1050px - 2vw) / 3);
    padding: 20px 20px 20px 20px;
    text-align: left;
    white-space: break-spaces;
     
    #btn{
      width: 150px;
      height : 70px;   
      background-color: #04AA6D;
      border: none;
      border-radius: 5px;
      color:whitesmoke;
      padding: 15px 15px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 15px;
      cursor: pointer;
      transform: translate(50%, 100%);
    }

  }

  .brief-research-info {

    padding: 10px;
    width: calc((1050px - 2vw) / 3);
    text-align: left;
    white-space: break-spaces;

    img{
        width : 95%;
        height : 200px;
    }

    .research-title {
      padding-left: 5px;
      color: #00729A;
      font-weight: bold;
      font-size : larger;
    }

    .research-member {
      padding-left: 5px;
      color: orange;
      //font-weight: bold;
    }
    
    .research-desc {
      padding: 0 15px 0 5px;
      color: black;
      //font-weight: bold;   
    }
  }

}

.research-item:hover {
  
  .detailed-research-info {
  display: block;
  white-space: break-spaces;
  }

  .brief-research-info {
    display: none;
  }

}

