<li class="research-collection-specified-year">
    <h1 class="specified-year">{{receivedList[0].year}}</h1>
    <br>
    <ul class="research-collection">
        <div  *ngFor = "let re of receivedList" >
            <li class="research-item">

                <!-- <section class="research-image transform-detailed-research-info"> -->
                <section class="detailed-research-info">
                    <button id="btn">Details</button>
                </section>
                <!-- </section> -->

                <section class="brief-research-info">
                    <img src="{{re.image_path}}" alt="{{re.image_org_name}}" class = "image"> 
                    <br>      
                    <p class="research-title">{{re.title}}</p>
                    <p class ="research-member">{{re.members}} / {{re.year}}</p>
                    <p class ="research-desc">{{re.obliquedesc}}</p>
                </section>
            </li>
        </div>
    </ul>
</li>

<!-- <div class = "section">

    <div class="header">
        <div class="label">
           {{receivedList[0].year}}
        </div>
    </div>
    
    <table>
        <div *ngFor = "let re of receivedList">
            <tr>
                <div class="content" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="100px">
            
                    <div class="research">
                        <span class="title">
                            {{re.title}}
                        </span>
                        <span class="obliqueDesc">
                            {{re.obliquedesc}}
                        </span>
                        <div class="members">
                            {{re.members}} / {{re.year}}
                        </div>
                    </div>
    
                    <div class="picture" fxFlex="250" fxFlex.xs="100">
    
                        <div class="image">
                            <img src="{{re.image_path}}" alt="{{re.image_org_name}}">
                        </div>
                    </div>
    
                </div>
    
            </tr>
        </div>
    </table>
    
</div> -->


<!-- <div class="layer-inner">    
    <div class="specified-year">{{receivedList[0].year}} </div>
    <ul class = "research-collection">
        <li class="research-item" *ngFor = "let re of receivedList">
            <div class = "container">
                <img src="{{re.image_path}}" alt="{{re.image_org_name}}" class = "image">
                <div class = "brief-research-info">
                    
                    <div class = "text">
                        <h4 class="research-title">{{re.title}}</h4>
                        <p class="research-member">{{re.members}} / {{re.year}}</p>
                        <p class="research-desc">{{re.obliquedesc}}</p>
                    </div> 
                </div>      
            </div>
        </li>  
    </ul>
</div> -->

