<div class = "section">

    <div class="header">
        <div class="label">
           {{receivedList[0].year}}
        </div>
    </div>
    
    <table>
        <div *ngFor = "let re of receivedList">
            <tr>
                <div class="content" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="100px">
            
                    <div class="research">
                        <span class="title">
                            {{re.title}}
                        </span>
                        <span class="obliqueDesc">
                            {{re.obliquedesc}}
                        </span>
                        <div class="members">
                            {{re.members}}
                        </div>
                    </div>
    
                    <div class="picture" fxFlex="250" fxFlex.xs="100">
    
                        <div class="image">
                            <img src="{{re.image_path}}" alt="{{re.image_org_name}}">
                        </div>
                    </div>
    
                </div>
    
            </tr>
        </div>
    </table>
    
</div>

