
<table>
    <div *ngFor = "let re of research">
        <tr>
            <div class="content" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="100px">
        
                <div class="research">
                    <span class="title">
                        {{re.title}}
                    </span>
                    <span class="obliqueDesc">
                        {{re.obliqueDesc}}
                    </span>
                    <div class="members">
                        {{re.members}}
                    </div>
                </div>

                <div class="picture" fxFlex="50" fxFlex.xs="100">

                    <div class="image">
                        <img src="{{re.image}}" alt="{{re.title}}">
                    </div>
                </div>

            </div>

        </tr>
    </div>
</table>
