.section {
      
      
    display: flex;
    margin-bottom: 10px;
  

    .header {
      
        .label {
        padding-top: 10px;
        min-width: 55px;
        height: auto;
        background-color: white;
        text-align: left;
        font-weight: bold;

          .sub {
            font-size: x-small;
          }
        }

        background: repeating-linear-gradient(
                        45deg,
                        #8BD8E7,
                        #8BD8E7 1px,
                        white 2px,
                        white 4px
        );
     }  

     .content {

        .research {
            .title {
                font-weight: bold;
            }
            .obliqueDesc {
                font-style: italic;
                font-size: small;
                color: #888888;
            }
            .members {
                font-size : 9px;
                color: #EBA22E;
            }
        }
    
        .picture {
            padding: 30px;
            .image {
                img {
                    width: 400px;
                    height: 300px;
                    object-fit: cover;
                    border-radius: 10%;
                }
            }
        }
    }
    // :nth-child(2n){
    //     .section{
    //         .header{
    //             background: repeating-linear-gradient(
    //             45deg,
    //             #8BD8E7,
    //             #8BD8E7 1px,
    //             white 2px,
    //             white 4px
    //             );
    //         }
    //     }
    // }

    //  .section:nth-of-type(odd) { 
    //     .header {
    //         background: repeating-linear-gradient(
    //             45deg,
    //             #8BD8E7,
    //             #8BD8E7 1px,
    //             white 2px,
    //             white 4px
    //         );
    //     }
    // }
      
    // .section:nth-of-type(even) {
    //     .header {
    //     background: repeating-linear-gradient(
    //         45deg,
    //         #FFD360,
    //         #FFD360 1px,
    //         white 2px,
    //         white 4px
    //     );
    //    }
    // }
    // @mixin headerBackground($year){
    //     @if $year%2 != 0 {
    //         background: repeating-linear-gradient(
    //                 45deg,
    //                 #8BD8E7,
    //                 #8BD8E7 1px,
    //                 white 2px,
    //                 white 4px
    //         ); 
    //     }
    //     @if $year%2 == 0 {
    //         background: repeating-linear-gradient(
    //             45deg,
    //             #FFD360,
    //             #FFD360 1px,
    //             white 2px,
    //             white 4px        
    //         ); 
    //     }
    // }

    // .header{
    //     @include headerBackground($receivedList[0].year);
    // }  

}

