<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar class="title-bar">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button> </button> 
      <button mat-raised-button (click)="onSurvey('member')">
        <mat-icon class="menu-icon">add_box</mat-icon>
        <span class="button-label">New Member</span>
      </button>  
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>

<div class="container" cdkDropListGroup>
  <mat-table class="mat-elevation-z8" cdkDropList
             [dataSource]="members"
             [cdkDropListData]="members"
             (cdkDropListDropped)="onDrop($event)">

    <ng-container matColumnDef="index">
      <mat-header-cell *matHeaderCellDef class="w-50"> Order </mat-header-cell>
      <mat-cell *matCellDef="let member" class="w-50"> {{member.index}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let member"> {{member.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="role">
      <mat-header-cell *matHeaderCellDef class="w-100"> Role </mat-header-cell>
      <mat-cell *matCellDef="let member" class="w-100"> {{member.role}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="degree">
      <mat-header-cell *matHeaderCellDef class="w-75"> Degree </mat-header-cell>
      <mat-cell *matCellDef="let member" class="w-75"> {{member.degree}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="employment">
      <mat-header-cell *matHeaderCellDef> Employment </mat-header-cell>
      <mat-cell *matCellDef="let member"> {{member.employment}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
      <mat-cell *matCellDef="let member"> {{member.email}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="is_alumni">
      <mat-header-cell *matHeaderCellDef class="w-75"> Alumni </mat-header-cell>
      <mat-cell *matCellDef="let member" class="w-75"> {{ member.is_alumni? "Yes": "No"}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="image_path">
      <mat-header-cell *matHeaderCellDef class="w-75"> Image </mat-header-cell>
      <mat-cell *matCellDef="let member" class="w-75">
        <img src="{{apiUrl + '/' + member.image_path}}" alt="profile" class="profile-image"/>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef class="w-50"> Actions </mat-header-cell>
      <mat-cell *matCellDef="let member" class="w-50">
        <button mat-icon-button><mat-icon>edit</mat-icon></button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" cdkDrag></mat-row>
  </mat-table>
</div>

