<div class="container">
  <div class="section">
    <div class="header">
      <div class="label">
        Under
      </div>
    </div>
    <div class="content">
      <!---->
      <mat-card>
        <mat-card-header> 
          <mat-card-title>Data Structure</mat-card-title>
          <mat-card-subtitle>Introduction to data structures and algorithms with C++</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <p>
            In this course, students learn structures and methods for efficiently storing/retrieving/processing data.
            Following topics will be covered in this course:
          </p>
          <p>
            - Basic concepts of object-oriented programming using C++ <br>
            - Stack, queue, linked list, tree, graph <br>
            - Sorting <br>
            - Hashing
          </p>
          <p>
            Prerequisite: C programming experience
          </p>
        </mat-card-content>
        <mat-card-footer>
          <mat-chip-list>
            <mat-chip>2020 Spring</mat-chip>
            <mat-chip>2021 Spring</mat-chip>
          </mat-chip-list>
        </mat-card-footer>
      </mat-card>
   <!---->
      <mat-card>
        <mat-card-header>
          <mat-card-title>Computer Vision</mat-card-title>
          <mat-card-subtitle>Introduction to computer vision and machine learning with Python</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <p>
            This course aims to help students learn skills to process and analyze data using Python,
            which is widely used in various fields. In this course, students learn how to use numpy and OpenCV library,
            and use them to implement a simple object recognition program.
          </p>
          <p>
            Prerequisite: Python programming experience
          </p>
        </mat-card-content>
        <mat-card-footer>
          <mat-chip-list>
            <mat-chip>2020 Fall</mat-chip>
          </mat-chip-list>
        </mat-card-footer>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-card-title>Web Programming</mat-card-title>
          <mat-card-subtitle>Introduction to basic web programming with Node.js and JavaScript</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <p>
            This course introduces Node.js platform, which is widely used for client and server development.
            It starts from learning basic JavaScript programming skills and
            students will use it to implement simple clients.
            A number of popular packages for web framework (e.g., express) and database management (e.g., mongoose)
            will be covered and will be used to implement a backend server.
          </p>
          <p>
            Prerequisite: HTML/CSS
          </p>
        </mat-card-content>
        <mat-card-footer>
          <mat-chip-list>
            <mat-chip>2020 Fall</mat-chip>
          </mat-chip-list>
        </mat-card-footer>
      </mat-card>

    </div>
  </div>

  <div class="section">
    <div class="header">
      <div class="label">
        Grad
      </div>
    </div>

    <div class="content">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Information Visualization</mat-card-title>
          <mat-card-subtitle>Advanced topics and applications in information visualization</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <p>
            TBD
          </p>
          <p>

          </p>
          <p>
            Prerequisite: TBD
          </p>
        </mat-card-content>
        <mat-card-footer>
          <mat-chip-list>
            
          </mat-chip-list>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>

</div>
