<h1 class="courses-domain">{{courseList[0].type}}</h1>

<ul class="courses-list">
  
    <div *ngFor = "let co of courseList">

        <li class="course-item">

            <section class="brief-introduction">
                <h3 class="course-name">{{co.title}}</h3>
                <h5 class="course-one-line-introduction">{{co.subtitle}}</h5>
            </section>

            <section class="detailed-introduction">
                <br>
                <h3 class="orange">Description</h3>
                <h5>{{co.content}}</h5>
                
                <h5>{{co.subcontent}}</h5>
                <br>
                <h3 class="orange">Prerequisite</h3>
                <h5>{{co.prerequisite}}</h5>
                <br>
                <h3 class="orange">Year of opening</h3>
                <span>TBD</span>

            </section>

        </li>

    </div>

</ul> 