div {
  margin: 0;
  padding: 0;
}

.empty-space {
  height: 8vw;
}

.banner{
  width : 100%;
  height : 150px;
  background: linear-gradient( to right, #89e0cf, #4ea1c2 , #35b3e6);
  .banner-title{
      color : #ffffff;
      //text-align: center;
      padding-top: 50px;
      font-size: 30px;
  }
}

.layer {
  top:0;
  left:0;
  width:100%;
  text-align:center;

  .layer-inner {
    padding: 0;
    margin: 0;
    display:inline-block;
    vertical-align:middle;
  
    width: 94vw;
    max-width: 1160px;
  }

  .blank {
    display:inline-block;
    width:0;
    height:100%;
    vertical-align:middle;
  }
}

.bg-white-smoke {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: whitesmoke;
}


.notice {
  width: 94vw;
  max-width: 1160px;
  text-align: left;

  margin-bottom: 8vw;
}