<!-- 
<div class="section">
 
   <div class="header">
      <div class="label">
        {{memberList[0].degree}}
        <div *ngIf = "memberList[0].degree === 'PhD' || memberList[0].degree === 'MS'" class="sub">
            candidates
        </div>
      </div>
    </div>

    
    <div class="content" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="30px">
        
        <div *ngFor = "let m of memberList">
            <div class="person" fxFlex="50" fxFlex.xs="100">
                <div class="image">
                    <img src="{{m.image_path}}" alt="{{m.image_org_name}}">
                </div>
                
                <div class="desc">
                    <div class="name">
                        {{m.name}} / {{m.role}}
                    </div>
                    <div class="interest">
                        {{m.interest}}
                    </div>
                    <div class="links">
                        <a mat-icon-button href="mailto:{{m.email}}"><mat-icon>mail</mat-icon></a>
                        <a mat-icon-button href="#"><mat-icon>home</mat-icon></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
 </div> -->

 <!-------------------------->
<li class="member-collection-specified-year">
    <h1 class="specified-year">{{memberList[0].degree}}</h1>

    <ul class="member-collection">
        <div  *ngFor = "let m of memberList" >
            <li class="member-item">
                <!-- </section> -->
                <section class="brief-member-info">
                    <img src="{{m.image_path}}" alt="{{m.image_org_name}}" class = "image"> 
                    <br>      
                <p class="member-title">{{m.name}} / {{m.role}}</p>
                <p class ="member-interest">{{m.interest}}</p>
                <div class="links">
                    <a mat-icon-button href="mailto:{{m.email}}"><mat-icon>mail</mat-icon></a>
                    <a mat-icon-button href="#"><mat-icon>home</mat-icon></a>
                </div>
                </section>
            </li>
        </div>
    </ul>
</li>
    
