<div class="modal-header">

    <h4 class="modal-title" id="modal-title">Add {{renderingField | titlecase}}</h4>
    <!-- <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button> -->
  </div>

  <div class="modal-body">

    <div *ngFor = "let row of renderingRow">
      <label for="{{row}}">{{row}}</label>
      <div class="form-group">
        <input type="text" class="form-control" id="{{row}}" name="{{row}}" required>
      </div> 
    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
    <button type="button" class="btn btn-success" (click)="modal.close('Submit click')">Submit</button>
</div>