<div class="layer bg-white-smoke">
  <!-- <article class="banner"></article> -->
  <!-- <app-banner></app-banner> -->
  <div class = "banner">
    NEWS
  </div>
  <!-- <div class="empty-space"></div> -->

  <div class="bg-white-smoke">
      <div class="layer-inner">
          <article class="news-all">

            <div class = "left">
              <div *ngFor="let n of News">
                <div class = "left-list">
                  <div class = "date">
                    <mat-icon class = "date-icon">date_range</mat-icon>{{n.date}} 
                  </div> 
                  
                  <div class = "title">{{n.title}}</div> <!--각 news 별 상세 페이지 구현한 뒤 routerLink 로 연결!-->
                  
                  <div class = "desc">{{n.description}}</div>
                  <div class = "readmore">Read More</div> <!--각 news 별 상세 페이지 구현한 뒤 routerLink 로 연결!-->
                </div>
              </div>
            </div>
            <div class = "right">

              <div class = "title">Recent Posts</div>
              <div class = "bl"></div>
              <div class = "contents"> 
                  <div *ngFor="let n of News">
                    <br>             
                    <div class = "date">{{n.date}}</div>
                    <div class = "title">{{n.title}}</div> 
                  </div>
              </div>
            </div>

          </article>
      </div>
  </div>
</div>
